<div class="flex justify-content-center mt-5 pt-8">
  <p-card class="w-4" header="Reset your password">

    <p class="p-2 mb-3">Please enter your new password.</p>

    <form class="flex flex-wrap row-gap-1" [formGroup]="passwordResetForm" (ngSubmit)="updatePassword()">

      <span class="w-12 p-2 p-float-label">
        <p-password [toggleMask]="true" required="true" formControlName="password" minlength="2"
          maxlength="20"></p-password>
        <label>Password</label>
        <small class="p-error block"
          *ngIf="passwordResetForm.get('confirmPassword')?.hasError('confirmPasswordValidator')">
          Passwords don't match</small>
      </span>
      <span class="w-12 p-2 p-float-label">
        <p-password [toggleMask]="true" required="true" formControlName="confirmPassword" minlength="2" maxlength="20"
          [feedback]="false"></p-password>
        <label>Confirm password</label>
      </span>

      <span class="flex justify-content-center flex-wrap w-12 mt-3 px-2">
        <button pButton type="button" type="submit" label="Reset password" style="width:100%"></button>
      </span>

    </form>
  </p-card>
</div>

<p-dialog header="{{ this.modalHeader }}" [draggable]="false" [resizable]="false" [(visible)]="failureModalVisibility"
  [modal]="true" [style]="{width: '30vw'}">
  <p class="m-0">{{ this.modalContent }}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="failureModalVisibility=false;" label="Ok"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>