<div class="flex flex-wrap">
  <div class="w-4 flex flex-wrap align-items-center justify-content-center pt-8">
    <div class="container">
      <img [src]="image">
    </div>
    <div class="w-full flex justify-content-center">
      <div class="w-6 pt-4">
        <p class="text-xl">{{user.displayName}}</p>
        <p class="text-l">@{{user.username}}</p>
      </div>
    </div>
    <div class="w-6 pt-4">
      <p class="text-gray-300">Ride history</p>
      <p class="text-gray-300">Edit profile</p>
      <p class="text-lg py-1">Change password</p>
      <p class="text-gray-300">checkout stats</p>
    </div>
  </div>
  <div class="w-8 pt-8 pr-8">
    <p-card style="padding-top:50px">
      Content
    </p-card>
  </div>
</div>