<div class="flex justify-content-center mt-5 pt-8">
  <p-card class="w-4" header="Forgot your password">

    <p class="p-2 mb-3">Please enter your email address.</p>

    <form class="flex flex-wrap row-gap-1" [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordResetRequest()">
      <span class="w-12 p-2 p-float-label">
        <input type="text" required="true" formControlName="email" pKeyFilter="alpha" minlength="2" maxlength="30"
          pInputText>
        <label for="float-input">Email</label>
      </span>

      <span class="flex justify-content-center flex-wrap w-12 mt-3 px-2">
        <button pButton type="button" type="submit" label="Request reset link" style="width:100%"></button>
      </span>
    </form>

    <small class="flex justify-content-center mt-4">
      <a href="/login">Back to login</a>
    </small>
  </p-card>
</div>

<p-dialog header="{{ this.modalHeader }}" [draggable]="false" [resizable]="false" [(visible)]="modalVisibility"
  [modal]="true" [style]="{width: '30vw'}">
  <p class="m-0">{{ this.modalContent }}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="modalVisibility=false;" label="Ok"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>