<p-card *ngIf="vehicleTypes.length" class="w-3 inline-block absolute z-1 mt-8 ml-8" [style]="{'min-width': '400px'}">
  <h1>Request a ride now</h1>
  <span class="p-float-label pickup-location">
    <input 
      id="pickupLocation" 
      type="text" 
      pInputText
      ngx-google-places-autocomplete
      (onAddressChange)="handleAddressChange($event, 'pickupLocation')"
      class="w-11"
      [options]="autocompleteOptions">
    <label for="float-input">Pickup location</label>
  </span>
  <div>
    <span 
      *ngFor="let i of rideInfo.stops; let idx = index"
      class="p-float-label destination"
      pDraggable="stop" pDroppable="stop"
      (onDragStart)="onDragStart(idx)" (onDrop)="onDrop(idx)"> 
      <input 
        type="text" 
        pInputText
        ngx-google-places-autocomplete
        (onAddressChange)="handleStopChange($event, idx)"
        class="w-11"
        [options]="autocompleteOptions"> 
      <label for="float-input">Stop</label>
      <i class="pi pi-minus cursor-pointer text-xl" (click)="removeStop(idx)" style="margin-left: 10px"></i>
    </span>
    <span class="p-float-label destination">
      <input 
        type="text" 
        pInputText
        ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event, 'destination')"
        class="w-11"
        [options]="autocompleteOptions"> 
      <label for="float-input">Destination</label>
      <i *ngIf="rideInfo.stops.length < MAX_STOPS" class="pi pi-plus cursor-pointer text-xl" style="margin-left: 10px" (click)="addStop()"></i>
    </span>
    <p-dropdown [options]="vehicleTypes" [(ngModel)]="rideInfo.vehicleType" (onChange)="handleRideInfoChanged(rideInfo)"></p-dropdown>
    <div class="my-3">
      <p-checkbox label="Pets allowed" [value]="false" [(ngModel)]="rideInfo.petsAllowed" class="mr-5"></p-checkbox>
      <p-checkbox label="Babies allowed" [value]="false" [(ngModel)]="rideInfo.babiesAllowed"></p-checkbox>
    </div>
  </div>
  
  <div class="flex aling-items-center">
    <button
      pButton type="button"
      label="Request now"
      class="btn-request"
      (click)="onRequestRide()"
      [disabled]="!rideInfo.price">
    </button>
    <div class="flex flex-column justify-content-center ml-4">
      <span><label>Distance: </label>{{rideInfo.distance | distance}}</span>
      <span><label>Price: </label>{{rideInfo.price}}RSD</span>
    </div>
  </div>
</p-card>
<app-google-maps
  [pickupLocation]="pickupLocation"
  [destination]="destination"
  [stops]="rideInfo.stops"
  (onRideInfoChanged)="handleRideInfoChanged($event)"
  class="relative block">
</app-google-maps>
<app-modal
  [header]="modalHeader"
  [content]="modalContent"
  [visible]="modalVisible"
  (onModalClose)="closeModal()">
  <div content>
    <p-progressSpinner *ngIf="showSpinner"></p-progressSpinner>
    <ng-container *ngIf="rideInfo.driver">
      <div><label>Driver: </label>{{rideInfo.driver.displayName}}</div>
      <div><label>Pickup location: </label>{{rideInfo.startAddress.address | address}}</div>
      <div><label>Destination: </label>{{rideInfo.endAddress.address | address}}</div>
      <div><label>Stops: </label>{{rideInfo.stops.length}}</div>
      <div><label>Distance: </label>{{rideInfo.distance | distance}}</div>
    </ng-container>
  </div>
  <div *ngIf="rideInfo.driver && rideInfo.driver?.status === 'AVAILABLE'" footer class="flex justify-content-center">
    <p-button
      *ngIf="clientCreditsBalance >= rideInfo.price"
      icon="pi pi-wallet"
      (click)="orderRide()"
      label="Request for {{rideInfo.price}}RSD">
    </p-button>
    <p-button
      *ngIf="clientCreditsBalance < rideInfo.price"
      icon="pi pi-credit-card"
      [routerLink]="'/buy-credits'"
      label="Buy credits">
    </p-button>
    <p-button
      (click)="modalVisible=false"
      label="Split fare">
    </p-button>
  </div>
</app-modal>
