
<div class="flex justify-content-center mt-8 pt-8">

  <p-card class="w-3" header="Log in">

    <form class="flex flex-wrap row-gap-1" [formGroup]="form" (ngSubmit)="login()">
      
      <span class="w-12 p-2 p-float-label">
        <input type="text" required="true" formControlName="username" pKeyFilter="alpha" minlength="2" maxlength="20" pInputText>
        <label for="float-input">Username</label>
      </span>
      
      <span class="w-12 p-2 mb-1 p-float-label">
        <p-password [toggleMask]="true" [feedback]="false" required="true" formControlName="password" minlength="2" maxlength="20" p></p-password>
        <label for="float-input">Password</label>
      </span>

      <small class="p-error mx-2 block" *ngIf="error">{{ error }}</small>

      <span class="flex justify-content-center flex-wrap w-12 mt-3">
        <p-button type="submit" label="Log in"></p-button> 
      </span>

    </form>

  </p-card>

</div>
