<div class="flex justify-content-center pt-6 mb-8">
  <div class="w-8 mb-6">
    <p-card>
      <div class="flex" style="height: calc(100vh - 250px);">

        <div class="w-4">
          <p-tabView>
            <p-tabPanel header="Route">
              <ng-template pTemplate="content">
                <app-detailed-route [stops]="ride.stops" [startTime]="ride.startTime" [endTime]="ride.endTime"/>
              </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Participants">
              <ng-template pTemplate="content">
                <app-detailed-participants [driver]="ride.driver" [clients]="ride.clients"/>
              </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Reviews">
                Content 3
            </p-tabPanel>
        </p-tabView>
        </div>
        <div class="w-8" style="height: 100%; background-color: white;">
          
        </div>
      </div>
    </p-card>
  </div>
</div>