
<div class="flex justify-content-center mt-6 pt-6">
  <p-card header="Register" class="w-6">
  
  <form class="flex flex-wrap row-gap-1" [formGroup]="form" (ngSubmit)="save()">

    <span class="w-6 p-2 p-float-label">
      <input type="text" required="true" formControlName="firstName" pKeyFilter="alpha" minlength="2" maxlength="20" pInputText>
      <label for="float-input">First name</label>
    </span>
    <span class="w-6 p-2 p-float-label">
      <input type="text" required="true" formControlName="lastName" pKeyFilter="alpha" minlength="2" maxlength="20" pInputText>
      <label for="float-input">Last name</label>
    </span>

    <span class="w-6 p-2 p-float-label">
      <input type="text" required="true" formControlName="email" pInputText [email]="true" minlength="2" maxlength="64">
      <label for="float-input">Email</label>
    </span>
    <span class="w-6 p-2 p-float-label">
      <input type="text" required="true" formControlName="username" pKeyFilter="alphanum" minlength="2" maxlength="20" pInputText>
      <label for="float-input">Username</label>
    </span>

    <span class="w-6 p-2 p-float-label">
      <p-password [toggleMask]="true" [feedback]="true" required="true" formControlName="password" minlength="2" maxlength="20"></p-password>
      <label for="float-password">Password</label>
      <small class="p-error block" *ngIf="form.get('confirmPassword')?.hasError('confirmPasswordValidator')">Passwords don't match</small>
    </span>
    <span class="w-6 p-2 p-float-label">
      <p-password [toggleMask]="true" [feedback]="true" required="true" formControlName="confirmPassword" minlength="2" maxlength="20"></p-password>
      <label for="float-password">Confirm password</label>
    </span>

    <span class="w-12 p-2 p-float-label flex vertical-align-middle">
      <p-fileUpload #fileUpload mode="basic" chooseLabel="Browse" class="my-auto" accept="image/*"
        [customUpload]="true" (onSelect)="uploadFile($event)">
      </p-fileUpload>
      <img *ngIf="url" [src]="url" class="my-auto ml-3">
      <ng-container *ngIf="uploadedFile">
        <div class="ml-3 w-full overflow-hidden">
          {{uploadedFile.name}}
        </div>
        
      </ng-container>
    </span>

    <span class="flex justify-content-center flex-wrap w-12 pt-5">
      <p-button type="submit" label="Register"></p-button> 
    </span>
    
  </form>

  <p-dialog header="{{ this.modalHeader }}" (onHide)="redirect('login')" [draggable]="false" [resizable]="false" [(visible)]="successModalVisibility" [modal]="true" [style]="{width: '30vw'}" >
    <p class="m-0">{{ this.modalContent }}</p>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="successModalVisibility=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  <p-dialog header="{{ this.modalHeader }}" [draggable]="false" [resizable]="false" [(visible)]="errorModalVisibility" [modal]="true" [style]="{width: '30vw'}" >
    <p class="m-0">{{ this.modalContent }}</p>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="errorModalVisibility=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</p-card>
</div>