
<div class="card relative">

  <div class="absolute text-color-secondary text-xs" style="top: 1rem; right: 1rem;">
    12:00 12 Dec 2022
  </div>


  <div class="flex">
    <p-avatar image="data:image/png;base64" size="large" shape="circle"></p-avatar>
    <div class="pl-3 my-auto">
      <p>Reviewer name</p>
      <p class="text-xs mt-1">@username</p>
    </div>
  </div>
  
  <div class="flex mt-3">
    <p class="w-6">
      Vehicle: &#9733;&#9733;&#9733;&#9733;&#9733;
    </p>
    <p>
      Driver: &#9733;&#9733;&#9733;&#9733;&#9733;
    </p>
  </div>
  
  <p class="mt-3">
    This is my review. Ride was honestly amazing and I was very happy.
  </p>
</div>